'.text.xml':
  'validation':
    'rules': [
      {
        priority: 1
        test:
          grammarScope: "text.xml.csl"
        outcome:
          schemaProps: [
            {
              lang: "rng"
              path: "../schemas/csl.rng"
            }
          ]
      }
    ]
